body {
    background-image: url('img/ryan.jpg');
    background-size: cover; /* Makes sure the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  }
